the star of project for ML #to be edited

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests
from io import StringIO

In [3]:
def load_from_github():
  url = 'https://raw.githubusercontent.com//zdralmat/ML_group_project/main/student%20dropout.csv'
  response = requests.get(url)
  if response.status_code == 200:
      return pd.read_csv(StringIO(response.text))
  else:
      raise Exception("failed to load the data")      


#df = pd.read_csv('student dropout.csv')
df = load_from_github()

#df = pd.read_csv('student dropout.csv')

(649, 34)

,School,Gender,Age,Address,Family_Size,Parental_Status,Mother_Education,Father_Education,Mother_Job,Father_Job,...,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade,Dropped_Out
339,GP,M,18,R,LE3,T,3,2,services,other,...,4,2,1,1,4,0,14,15,15,False
242,GP,M,18,U,LE3,T,2,1,at_home,other,...,3,2,4,5,3,2,9,10,11,False
81,GP,M,15,U,GT3,T,2,3,other,other,...,3,2,1,2,5,2,10,9,9,True
231,GP,M,18,U,LE3,T,3,3,services,health,...,2,4,2,4,4,10,10,10,10,False
620,MS,F,17,U,LE3,T,4,4,at_home,at_home,...,3,4,1,1,1,4,15,14,15,False
135,GP,F,16,U,GT3,A,3,4,services,other,...,2,1,1,4,5,12,15,13,14,False
300,GP,F,18,U,GT3,T,4,3,services,other,...,1,2,1,3,2,2,15,15,15,False
330,GP,F,18,U,GT3,T,2,1,other,other,...,3,1,1,1,5,10,12,13,14,False
257,GP,M,17,U,GT3,T,4,4,teacher,teacher,...,2,1,1,2,5,6,10,8,9,True
587,MS,F,18,R,LE3,T,2,2,services,services,...,3,3,1,2,4,3,7,6,8,True
143,GP,F,18,U,GT3,A,3,2,other,services,...,3,3,5,1,5,10,12,11,11,False
165,GP,F,15,R,GT3,T,3,3,services,services,...,2,1,2,3,3,2,13,13,13,False
555,MS,F,16,R,GT3,T,1,2,other,other,...,3,4,1,1,3,5,13,14,13,False
477,MS,M,15,U,GT3,T,3,3,services,services,...,3,3,2,4,3,11,12,10,11,False
592,MS,F,17,U,GT3,T,3,3,services,services,...,4,3,1,1,4,0,11,12,13,False
213,GP,F,16,U,LE3,T,4,4,teacher,teacher,...,5,2,1,2,3,0,11,10,11,False
600,MS,M,17,R,GT3,T,1,1,other,services,...,2,3,3,4,4,4,12,13,14,False
215,GP,F,16,U,GT3,T,2,3,other,other,...,4,3,1,3,4,4,11,12,12,False
167,GP,F,17,U,GT3,T,4,4,other,teacher,...,2,1,1,1,4,0,13,13,13,False
93,GP,F,16,U,GT3,T,4,2,teacher,services,...,3,3,1,1,1,2,13,14,14,False

In [4]:
pd.set_option('display.max_columns', None)
print(df.shape)

df.head()
df.sample(20)

(649, 34)

,School,Gender,Age,Address,Family_Size,Parental_Status,Mother_Education,Father_Education,Mother_Job,Father_Job,Reason_for_Choosing_School,Guardian,Travel_Time,Study_Time,Number_of_Failures,School_Support,Family_Support,Extra_Paid_Class,Extra_Curricular_Activities,Attended_Nursery,Wants_Higher_Education,Internet_Access,In_Relationship,Family_Relationship,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade,Dropped_Out
154,GP,F,16,U,LE3,T,1,1,at_home,at_home,course,mother,1,1,0,no,no,no,no,yes,yes,yes,no,3,4,4,3,3,1,4,10,11,11,False
392,GP,F,17,U,GT3,T,3,2,other,other,home,mother,1,2,0,no,yes,no,no,yes,yes,yes,yes,4,3,2,2,3,2,0,12,13,15,False
428,MS,F,15,R,LE3,T,2,1,at_home,other,home,mother,2,1,0,no,no,no,no,yes,no,no,no,1,3,4,1,1,1,0,6,8,9,True
22,GP,M,16,U,LE3,T,4,2,teacher,other,course,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,4,5,1,1,3,5,0,12,13,14,False
470,MS,F,15,R,GT3,T,3,3,services,other,reputation,mother,1,2,0,no,yes,no,no,yes,yes,yes,yes,4,5,4,1,1,1,4,13,12,12,False
115,GP,M,16,U,GT3,T,4,4,teacher,teacher,course,father,1,2,0,no,yes,no,yes,yes,yes,yes,no,5,4,4,1,2,5,6,16,14,14,False
118,GP,M,17,R,GT3,T,1,3,other,other,course,father,3,2,1,no,yes,no,yes,yes,yes,yes,no,5,2,4,1,4,5,14,12,11,11,False
236,GP,F,16,U,GT3,T,2,3,services,teacher,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,2,3,1,1,1,3,0,13,13,14,False
354,GP,F,18,U,GT3,T,2,1,services,other,course,mother,2,2,0,no,yes,no,yes,yes,yes,yes,no,5,3,3,1,2,1,2,12,12,15,False
253,GP,F,18,U,LE3,A,2,4,services,other,course,mother,2,2,1,no,yes,no,no,yes,yes,yes,no,4,3,3,1,1,3,18,10,10,10,False
527,MS,M,16,U,LE3,T,2,2,services,services,other,mother,4,3,0,no,no,no,no,yes,yes,no,no,5,1,3,2,2,3,0,10,9,10,False
594,MS,F,18,U,GT3,T,4,4,teacher,teacher,reputation,mother,2,2,0,no,no,no,yes,no,yes,yes,no,4,3,5,1,2,1,0,18,18,18,False
576,MS,M,18,R,GT3,T,3,2,other,other,course,mother,2,1,0,no,yes,no,no,no,yes,yes,no,2,5,5,5,5,5,8,9,10,11,False
69,GP,F,15,R,LE3,T,3,1,other,other,reputation,father,2,4,0,no,yes,no,no,no,yes,yes,no,4,4,2,2,3,3,6,15,15,15,False
388,GP,F,18,U,GT3,T,3,3,services,services,home,mother,1,2,0,no,no,no,yes,yes,yes,yes,no,5,3,4,1,1,4,8,10,11,12,False
98,GP,F,16,U,GT3,T,4,4,other,other,reputation,mother,1,1,0,no,no,no,yes,no,yes,yes,no,5,3,4,1,2,1,4,12,13,13,False
310,GP,F,18,R,GT3,T,2,1,other,other,reputation,mother,2,2,0,no,yes,no,no,yes,no,yes,yes,4,3,5,1,2,3,12,8,9,10,False
101,GP,M,16,U,GT3,T,4,4,services,teacher,other,father,1,3,0,no,yes,no,yes,yes,yes,yes,yes,4,4,3,1,1,4,0,16,16,16,False
336,GP,M,18,U,GT3,T,4,2,teacher,other,home,mother,1,2,0,no,yes,no,yes,yes,yes,yes,yes,4,3,2,1,4,5,2,15,16,16,False
59,GP,F,16,U,GT3,T,4,2,services,other,course,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,2,3,1,1,5,2,16,15,16,False

In [19]:

df.info(verbose=False)

print(df.isnull().sum().sort_values(ascending=True))

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Columns: 34 entries, School to Dropped_Out
dtypes: bool(1), int64(16), object(17)
memory usage: 168.1+ KB
School                         0
Grade_2                        0
Grade_1                        0
Number_of_Absences             0
Health_Status                  0
Weekday_Alcohol_Consumption    0
Weekend_Alcohol_Consumption    0
Going_Out                      0
Free_Time                      0
Family_Relationship            0
In_Relationship                0
Internet_Access                0
Wants_Higher_Education         0
Attended_Nursery               0
Extra_Curricular_Activities    0
Extra_Paid_Class               0
Family_Support                 0
School_Support                 0
Gender                         0
Age                            0
Address                        0
Family_Size                    0
Parental_Status                0
Mother_Education               0
Final_Grade                    0
Father_Education               0
Father_Job                     0
Reason_for_Choosing_School     0
Guardian                       0
Travel_Time                    0
Study_Time                     0
Number_of_Failures             0
Mother_Job                     0
Dropped_Out                    0
dtype: int64

,Age,Mother_Education,Father_Education,Travel_Time,Study_Time,Number_of_Failures,Family_Relationship,Free_Time,Going_Out,Weekend_Alcohol_Consumption,Weekday_Alcohol_Consumption,Health_Status,Number_of_Absences,Grade_1,Grade_2,Final_Grade
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000